*{
    padding: 0;
    margin: 0;
}
.border-sample{
    border:thin solid black !important;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #4e4e4e;
    font-size: 16pt;
}
*{
    padding: 0;
    margin: 0;
}
header{
    color: #6495ED;
    font-size: 24pt;
    padding: 20px;
}
*{
    padding: 0;
    margin: 0;
}
footer{
    color: rgb(100, 149, 237);
    font-size: 24pt;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 20px;
}
*{
    padding: 0;
    margin: 0;
}
h1{
    margin-bottom: 20px;
}
*{
    padding: 0;
    margin: 0;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}*{
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 10px;
}
*{
    padding: 0;
    margin: 0;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
}