*{
    padding: 0;
    margin: 0;
}
.border-sample{
    background-color: #48dbcf;
    border:thin solid black !important;
    
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #856679;
    font-family: 'Josefin Slab';
    color: #ec0808;
    font-size: 13pt;
    
}
*{
    padding: 0;
    margin: 0;
}
header{
    
    color: #6495ED;
    font-size: 24pt;
    padding: 20px;
}
*{
    padding: 0;
    margin: 0;
}
footer{
    color: rgb(100, 149, 237);
    font-size: 24pt;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 20px;
}
*{
    padding: 0;
    margin: 0;
}
h1{
    margin-bottom: 20px;
}
*{
    padding: 0;
    margin: 0;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}*{
    padding: 0;
    margin: 0;
}
p{ 
    margin-bottom: 10px;
}
*{
    padding: 0;
    margin: 0;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
}